{% extends "base.html" %}

{% block body %}




<section class="text-gray-700 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Edit The  Todo</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Edit your plan</p>
    </div>
    <form method="POST" action="/edit/{{todo.id}}">
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-full">
          <input required class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none focus:border-green-500 text-base px-4 py-2"  name="title" id="title" placeholder="Enter the Todo" type="text" value="{{todo.title}}" >
        </div>
       
        <div class="p-2 w-full">
          <input required class="w-full bg-gray-100 rounded border border-gray-400 focus:outline-none h-48 focus:border-green-500 text-base px-4 py-2 resize-none block"  placeholder="Enter the description of task" required type="text" name="description" id="description" value="{{todo.description}}" >
        </div>
        <div class="p-2 w-full">
          <button type="submit" class="flex mx-auto text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg"  name="submit"  value="Add a Todo" >
          Save Changes
          </button>
        </div>
        
      </div>
    </div>
  </div>
 <!--   Enter the task:<input required  type="text" name="title" id="title"> <br/>
    Enter the Description: <input required type="text" name="description" id="description"/> <br/> -->
    
</form>
</section>


{% endblock %}

